.MapComponent {
    display: none;
}

@media (min-width: 1300px) {
    .MapComponent {
        display: block;
        position: fixed;
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}