.RRSSComponent {
    text-align: center;
    background-color: #ffffff;
    color: #233064;
    margin-top: 16px;
    box-shadow: 0 0 16px 0 rgba(191, 213, 223, 0.5);
    margin-bottom: 16px;
    .CopyTextComponent {
        padding: 32px 46px;
        .CardTitle {
            font-weight: bold;
            font-size: 20px;
        }
        .CardText {
            line-height: 24px;
            margin-bottom: 24px;
        }
        .SocialMediaIconsContainer {
            display: flex;
            justify-content: space-evenly;
        }
    }
}