.CardComponent {
    text-align: left;
    background-color: #ffffff;
    color: #233064;
    margin-top: 16px;
    box-shadow: 0 0 16px 0 rgba(191, 213, 223, 0.5);
    position: relative;
    img {
        width: 100%;
    }
    .CopyButtonsContainer {
        padding: 10px;
        height: 180px;
        .ActionButtonCards {
            background-color: #6524fe;
            padding-left: 24px;
            color: #eef8fc;
            font-weight: bold;
            width: 100%;
            max-width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .CardTitle {
            font-weight: bold;
            font-size: 20px;
        }
        .CardText {
            line-height: 24px;
            margin-top: 5px;
        }
    }
}

@media (min-width: 1300px) {
    .CardComponent {
        box-shadow: none;
        .CopyButtonsContainer {
            padding: 24px;
            .CardTitle {
                line-height: 22px;
                font-size: 16px;
            }
            .CardText {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}